@font-face {
	font-family: 'Phonk Sans';
	src: url('phonksans-light.eot');
	src: 
		url('phonksans-light.woff2') format('woff2'),
		url('phonksans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}